.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}
.task-item button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}
.footer {
  height: 10vh;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

#main {
  background-color: #8b3333;
  width: 90vh;
  height: 82vh;
}

.sidebar {
  background-color: #36f97a;
  height: 82vh;
  width: 200px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin: 1em 0;
}
.sidebar ul li a {
  text-decoration: none;
  color: #333;
}
.task-list {
  margin: 2em;
}
