
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(170, 33, 33);
}




.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #0a47c0;
  color: rgb(223, 21, 21);
}

.navbar-logo {
  width: 40px;
  height: 40px;
  background-image: url(./assets/Hamburger.jpg);
  background-size: cover; 
  background-position: center;
  margin-right: 0.5rem;
}

.hamburger-icon {
  width: 40px;
  height: 40px;
  background-image: url(./assets/pencil.jpeg);
  background-size: cover;
  background-position: center;
  margin-left: auto; 
}